:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --darck-text-color: #000000;
  --light-text-color: #ffffff;
  --translight-text-color: #ffffff99;
  --main-bg-color: #ffffff;
  --darck-bg-color: #2f303a;
  --gray-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto';
  background-color: var(--main-bg-color);
}

/* logo */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.logo.top {
  color: var(--darck-text-color);
}

.logo.bottom {
  color: var(--light-text-color);
}

/* list-item */

.list-item {
  list-style: none;
}

/* link */

.link {
  text-decoration: none;
}

/* hidden titel */

.title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header .site-nav .link {
  color: var(--title-text-color);
}

.header .site-nav .link.current {
  color: var(--accent-text-color);
}

.header .site-nav .link:hover,
.header .site-nav .link:focus,
.header .contact.list .link:hover,
.header .contact.list .link:focus {
  color: var(--accent-text-color);
}

.header .contact.list .link {
  color: var(--primary-text-color);
}

/* main studio banner */

.section-banner {
  background-color: var(--darck-bg-color);
}

.section-banner .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--light-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-banner .button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
  background-color: var(--accent-text-color);
  border: none;
}

/* main studio features */

.section-features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.section-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* main studio what are we doing */

.section-doing .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* main studio our team */

.section-team {
  background-color: var(--gray-bg-color);
}

.section-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-team .title.sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* main portfolio */

.section-portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.section-portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-filter .button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--gray-bg-color);
  border: none;
}

.section-filter .button:hover,
.section-filter .button:focus {
  background-color: var(--accent-text-color);
  color: var(--light-text-color);
}

/* footer */

.footer {
  background-color: var(--darck-bg-color);
}

.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  font-style: normal;
}

.footer .link.contact {
  color: var(--translight-text-color);
}
