:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-black-color: #000000;
  --text-white-color: #ffffff;
  --text-transpwhite-color: #ffffff99;
  --accent-color: #2196f3;
  --bg-white-color: #ffffff;
  --bg-darck-color: #2f303a;
  --bg-light-color: #f5f4fa;
}

body {
  background-color: var(--bg-white-color);
  color: var(--text-primary-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* logo */
